@import url("navbar.css");
@import url("home-section.css");
@import url("sections.css");

:root {
  --background: #fdfcfe;
  --background-secondary: #faf8ff;
  --background-ui: #f4f0fe;
  --background-ui-secondary: #e1d9ff;
  --border-secondary: #d4cafe;
  --border-ui: #aa99ec;
  --solid: #6e56cf;
  --solid-secondary: #654dc4;
  --text-primary: #2f265f;
  --text-secondary: #6550b9;

  --text-primary-gray: #211f26;
  --text-secondary-gray: #65636d;

  --background-dark: #1a191b;

  --text-primary-gray-dark: #eeeef0;
  --text-secondary-gray-dark: #b5b2bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  padding-top: 84px;
  font-family: "Inter", sans-serif;
}

section {
  padding-block: 200px;
  padding-inline: 80px;
}

h1 {
  color: var(--text-primary-gray);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--text-primary-gray);
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  color: var(--text-secondary-gray);
}

.dark h1 {
  color: var(--text-primary-gray-dark);
}

.dark h2 {
  color: var(--text-primary-gray-dark);
}

.dark p {
  color: var(--text-secondary-gray-dark);
}

button {
  background-color: var(--solid);
  color: var(--background);
  padding-inline: 30px;
  padding-block: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--solid-secondary);
}

a {
  border-radius: 5px;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline-color: var(--solid);
  outline-width: 2px;
  outline-offset: 2px;
}
